services:
  node_a:
    build: .
    environment:
      - NODE_NAME=node_a
      - ADDR=:8080
      - PEER_URL=http://node_b:8080
      - DROP_RATE=0.05
      - MIN_DELAY=20ms
      - MAX_DELAY=200ms
    ports:
      - "8081:8080"

  node_b:
    build: .
    environment:
      - NODE_NAME=node_b
      - ADDR=:8080
      - PEER_URL=http://node_a:8080
      - DROP_RATE=0.05
      - MIN_DELAY=20ms
      - MAX_DELAY=200ms
    ports:
      - "8082:8080"
